<section class="read-more">
    {{ if .Next }}
    <div class="read-more-item">
        <div class="read-more-item-header read-more-item-next">
            <span class="read-more-item-dim">{{ T "recent" }}：</span>
            <a href="{{ .Next.RelPermalink }}" title="link to {{ .Next.Title }}">{{ .Next.Title }}</a>
        </div>
        <div class="post-list__meta post-list__meta--date---next">
            <time datetime="{{ .Date.Format " 2006-01-02 15:04:05 -0700" }}" class="post-list__meta--date date">{{ .Next.Date.Format "2006-01-02" }}</time>
        </div>
    </div>
    {{ end }}


    {{ if .Prev }}
    <div class="read-more-item">
        <div class="read-more-item-header read-more-item-prev">
            <span class="read-more-item-dim">{{ T "earlier" }}：</span>
            <a href="{{ .Prev.RelPermalink }}" title="link to {{ .Prev.Title }}">{{ .Prev.Title }}</a>
        </div>
        <div class="post-list__meta post-list__meta--date---prev">
            <time datetime="{{ .Date.Format " 2006-01-02 15:04:05 -0700" }}" class="post-list__meta--date date">{{ .Prev.Date.Format "2006-01-02" }}</time>
        </div>
    </div>
    {{ end }}
 </section>
 