{{ define "main" }}
<div class="main-post-list hidden">
    <ol class="post-list">
        {{ range .Paginator.Pages }}
        <li>
            <h2 class="post-list__post-title post-title">
                <a href="{{ .RelPermalink }}" title="To {{ .RelPermalink }}">{{.Title }}</a>
            </h2>
            <div class="post-list__tags">
                <i class="iconfont icon-icon-tag"></i>
                {{ with .Params.tags }}
                <span class="post-list__meta--tags tags"> {{ range . }} <a href="{{ " tags" | absURL }}/{{ . | urlize
                        }}">{{ . }}</a> {{ end }} </span>
                {{ end }}
            </div>
            <p class="excerpt">{{ .Summary | truncate 250 }}&hellip;</p>
            <div class="post-list__meta">
                <time datetime="{{ .Date.Format " 2006-01-02 15:04:05 -0700 " }}" class="post-list__meta--date date">{{
                    .Date.Format "2006-01-02" }}</time>
                <a href={{ .RelPermalink }}>{{ T "continue" }} >>></a>
            </div>
            <hr class="post-list__divider" />
        </li>
        {{ end }}
    </ol>
    {{ partial "pagination.html" . }}
</div>
{{ end }}